.workout-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto 25px ;
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--border-gradient-gray);
    transition: .3s;
    cursor: pointer;
}

.workout-card:hover {
    scale: 1.05;
    }

.workout-card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--color-3);
}

.workout-day {
    width: 70px;
    text-align: right;
    align-self: flex-start;
    font-size: .6rem;
    letter-spacing: 1px;
}

.description {
    margin: auto;
    font-size: medium;
}