footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 20px 20px 0 0;
    border: solid 1px var(--color-4);
    border-bottom: none;
}

