header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    height: 110px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    background: var(--color-2);
    border-radius: 0 0 20px 20px;
    border: solid 1px var(--color-4);
    border-top: none;
    box-shadow:  4px 1px 12px var(--color-4),
                 4px 5px 18px var(--color-31);
}

.logo {
    height: 155px;
    margin: 50px 0 0 0;
}

.nav-main > ul{
    display: flex;
}

.nav-main li {
    list-style: none;
    margin-left: 40px;
    font-size: 1.2rem;
}

.nav-main li a {
    text-decoration: none;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 10px;
}

nav li a:visited {
    color: var(--color-4);
}

nav li a:hover {
    color: var(--color-3);
    padding: 10px;
    border: solid 1px var(--color-4);
    border-radius: 10px;
    background: var(--color-2);
    box-shadow:  5px 5px 5px var(--color-2),
                 3px 3px 10px var(--color-31);
}


